[Unit]
Description=Log file scanning and iptables filtering
ConditionPathExists=/usr/local/share/ban2fail/ban2fail.sh

[Service]
WorkingDirectory=/tmp
Type=simple
ExecStart=/usr/local/share/ban2fail/ban2fail.sh
TimeoutSec=0

[Install]
WantedBy=multi-user.target
